{% for post in posts %}
  <div class="portfolio-item recent" style="position: absolute; left: 0; top: 0;">
    {% if post.photo %}
      <img src="{{ post.photo.url }}" alt="{{ post.title }}">
    {% else %}
      <img src="https://picsum.photos/id/1060/72/72/?blur=2" alt="{{ post.title }}">
    {% endif %}
    <div class="portfolio-text">
      <h5><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h5>
      <p>By {{ post.author }} <span>|</span>{{ post.created_at|date:"d E Y" }}</p>
    </div>
  </div>
{% endfor %}

{% comment %}
  <div class="portfolio-item recent" style="position: absolute; left: 0px; top: 0px;">
    <img src="img/portfolio2.jpg" alt="">
    <div class="portfolio-text">
      <h5><a href="#">Pay Close Attention To People Who Don’t Clap When You Win recent2.</a></h5>
      <p>By Kabbo Liate <span>|</span>25 February 2017</p>
    </div>
  </div>
  <div class="portfolio-item popular" style="position: absolute; left: 0px; top: 0px;">
    <img src="img/portfolio3.jpg" alt="">
    <div class="portfolio-text">
      <h5><a href="#">Pay Close Attention To People Who Don’t Clap When You Win popular1.</a></h5>
      <p>By Kabbo Liate <span>|</span>25 February 2017</p>
    </div>
  </div>
  <div class="portfolio-item popular" style="position: absolute; left: 0px; top: 0px;">
    <img src="img/portfolio4.jpg" alt="">
    <div class="portfolio-text">
      <h5><a href="#">Pay Close Attention To People Who Don’t Clap When You Win popular2.</a></h5>
      <p>By Kabbo Liate <span>|</span>25 February 2017</p>
    </div>
  </div>
  <div class="portfolio-item users" style="position: absolute; left: 0px; top: 0px;">
    <img src="img/portfolio5.jpg" alt="">
    <div class="portfolio-text">
      <h5><a href="#">Pay Close Attention To People Who Don’t Clap When You Win users1.</a></h5>
      <p>By Kabbo Liate <span>|</span>25 February 2017</p>
    </div>
  </div>
  <div class="portfolio-item users" style="position: absolute; left: 0px; top: 0px;">
    <img src="img/portfolio1.jpg" alt="">
    <div class="portfolio-text">
      <h5><a href="#">Pay Close Attention To People Who Don’t Clap When You Win users2.</a></h5>
      <p>By Kabbo Liate <span>|</span>25 February 2017</p>
    </div>
  </div>
{% endcomment %}
