{% extends 'base.html' %}
{% load sidebar %}

{% block title %}{{ post.title }} | {{ block.super }}{% endblock %}

{% block content %}
  <section class="single-blog-area">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="border-top">
            <div class="col-md-8">
              <div class="blog-area">
                <div class="blog-area-part">
                  <h2>{{ post.title }}</h2>
                  <div>
                    <div>
                      Category: <a href="{{ post.category.get_absolute_url }}">{{ post.category }}</a>
                    </div>
                    <div>
                      {% if post.tags.exists %}
                        Tags:
                        {% for tag in post.tags.all %}
                          <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
                        {% endfor %}
                      {% endif %}
                    </div>
                    <div>
                      Views: {{ post.views }}
                    </div>
                  </div>
                  <div class="for-style">
                    {{ post.content|safe }}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">

              <div class="newsletter">
                <h2 class="sidebar-title">Search</h2>
                <form action="{% url 'search' %}" method="get">
                  <input type="text" name="s" placeholder="Search...">
                  <input type="submit" value="Search">
                </form>
              </div>

              <div class="button-group filters-button-group">
                {#                <button data-filter=".recent" class="button is-checked">Recent</button>#}
                <button data-filter=".recent" class="button">Recent</button>
                <button data-filter=".popular" class="button">popular</button>
{#                <button data-filter=".users" class="button">Users</button>#}
              </div>

              <div class="grid" style="position: relative; height: 1221.93px;">
                {% get_recent %}
                {% get_popular %}
              </div>

                {% get_tags %}

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
